{% extends 'spammy/base.html' %}
{% load static %}

{% block content %}
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li><a href="index.html">Home</a></li>
          <li><a href="{% url 'spammy:client'%}">Clients</a></li>
          <li><a href="{% url 'spammy:newsletter'%}">Maillist</a></li>
          <li class="selected"><a href="{% url 'spammy:mails'%}">Mails</a></li>
          <li><a href="{% url 'spammy:maillistlog'%}">Maillist log</a></li>
        </ul>
      </div>
    </div>
    <div id="site_content">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Рассылка</th>
          <th scope="col">Тема</th>
          <th scope="col">Текст</th>
		  <th scope="col">Действия</th>

        </tr>
        </thead>
        <tbody>
		     <a href="{% url 'spammy:create_mail' %}">Add new message</a>

        {% for object in object_list %}

        <tr class = "GeeksForGeeks">
          <td>{{object.newsletter}}</td>
          <td>{{object.letter_subject}}</td>
          <td><p>{{object.body_of_the_letter|truncatechars:30}}</p></td>
          <td>
		  <a>Подробнее</a> - 
		  <a href='{% url 'spammy:update_mail' object.pk %}'>Редактировать</a> - 
		  <a>Удалить</a>
		  </td>

        </tr>

        {% endfor %}
        </tbody>
      </table>
     <a href="{% url 'spammy:create_mail' %}">Add new message</a>
    </div>
 {% endblock %}